/* Bio component specific styles */
.bio {
  /* Can use container--small class in the component */
  margin-bottom: 2rem;
  color: #222;
  font-size: 1.125rem;
  line-height: 1.7;
  text-align: left;
}
